

.color-pink {
    color: #B23C72;
}


.f-raleway {
    font-family: 'Raleway', sans-serif;
}

header {
    height: 100vh;
}

.bg-marron {
    background-color: rgb(224, 222, 211);
}

.color-purple {
    color: #B22D41;
}

.green {
    color: #4EFF48;
}

.t-shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
}
.icon-size {
    font-size: 40px;
}

.green_hr {
    border-bottom: 3px solid #4EFF48;
    width: 150px;
    
}


  
  @keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
  
    60% {
      opacity: 1;
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  };

