

.color-pink {
    color: #B23C72;
}


.f-raleway {
    font-family: 'Raleway', sans-serif;
}

header {
    height: 100vh;
}

.bg-marron {
    background-color: rgb(224, 222, 211);
}

.color-purple {
    color: #B22D41;
}

.green {
    color: #4EFF48;
}


.t-shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
}
.icon-size {
    font-size: 40px;
}

.green_hr {
    border-bottom: 3px solid #4EFF48;
    width: 150px;
    
}

#myarrow{
    
    position: relative;
    top: 300%;
    
    animation: bounce 0.50s infinite alternate;
}

@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-20px);}
}

@media only screen and (max-width: 600px) {
    #myarrow {
        position: relative;
        top: 50%;
    }
}